<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PBTech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <PBTech.Properties.Settings>
            <setting name="CREATE_READING" serializeAs="String">
                <value>CREATE TABLE READING (r_id INTEGER PRIMARY KEY, r_date TEXT, r_name TEXT, r_description TEXT);</value>
            </setting>
            <setting name="CREATE_CHANNEL" serializeAs="String">
                <value>CREATE TABLE CHANNEL (c_id INTEGER PRIMARY KEY, c_rid INTEGER, c_details TEXT, c_channelnumber INTEGER);</value>
            </setting>
            <setting name="CREATE_READING_DETAIL" serializeAs="String">
                <value>CREATE TABLE READING_DETAIL (rd_id INTEGER PRIMARY KEY, rd_rid INTEGER, rd_cid INTEGER, rd_time INTEGER, rd_point INTEGER );</value>
            </setting>
            <setting name="INSERT_READING" serializeAs="String">
                <value>INSERT INTO READING (r_date,r_name,r_description) VALUES (@date, @name, @description);
select last_insert_rowid()</value>
            </setting>
            <setting name="INSERT_CHANNEL" serializeAs="String">
                <value>INSERT INTO CHANNEL (c_rid,c_details,c_channelnumber) VALUES (@rid, @details,@number);
select last_insert_rowid()</value>
            </setting>
            <setting name="INSERT_READING_DETAIL" serializeAs="String">
                <value>INSERT INTO READING_DETAIL (rd_rid,rd_cid,rd_time,rd_point) VALUES (@rid, @cid, @time,@point);
select last_insert_rowid()</value>
            </setting>
        </PBTech.Properties.Settings>
    </userSettings>
</configuration>
