<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PBTech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <PBTech.Properties.Settings>
            <setting name="CREATE_READING" serializeAs="String">
                <value>CREATE TABLE READING (r_id INTEGER PRIMARY KEY, r_date TEXT, r_name TEXT, r_description TEXT);</value>
            </setting>
            <setting name="CREATE_CHANNEL" serializeAs="String">
                <value>CREATE TABLE CHANNEL (c_id INTEGER PRIMARY KEY, c_rid INTEGER,c_ccid integer, c_details TEXT, c_channelnumber INTEGER);</value>
            </setting>
            <setting name="CREATE_READING_DETAIL" serializeAs="String">
                <value>CREATE TABLE READING_DETAIL (rd_id INTEGER PRIMARY KEY, rd_rid INTEGER, rd_cid INTEGER, rd_time INTEGER, rd_point INTEGER );</value>
            </setting>
            <setting name="INSERT_READING" serializeAs="String">
                <value>INSERT INTO READING (r_date,r_name,r_description) VALUES (@date, @name, @description);
select last_insert_rowid()</value>
            </setting>
            <setting name="INSERT_CHANNEL" serializeAs="String">
                <value>INSERT INTO CHANNEL (c_rid,c_details,c_channelnumber,c_ccid) VALUES (@rid, @details,@number,@channelconfig);
select last_insert_rowid()</value>
            </setting>
            <setting name="INSERT_READING_DETAIL" serializeAs="String">
                <value>INSERT INTO READING_DETAIL (rd_rid,rd_cid,rd_time,rd_point) VALUES (@rid, @cid, @time,@point);
select last_insert_rowid()</value>
            </setting>
            <setting name="CREATE_CHANNEL_CONFIG" serializeAs="String">
                <value>CREATE TABLE CHANNEL_CONFIG (cc_id integer primary key,cc_name text, cc_psi, cc_outputvolts, cc_offset real,cc_defaultchannel);</value>
            </setting>
            <setting name="INSERT_CHANNEL_CONFIG" serializeAs="String">
                <value>INSERT INTO CHANNEL_CONFIG (cc_name,cc_psi,cc_outputvolts,cc_offset,cc_defaultchannel) VALUES (@name,@psi,@outputvolts,@offset,@defaultchannel);
select last_insert_rowid();</value>
            </setting>
            <setting name="DEFAULT_DB_PATH" serializeAs="String">
                <value>C:\Users\mattdurham\Dropbox\pbtech.db3</value>
            </setting>
        </PBTech.Properties.Settings>
    </userSettings>
</configuration>
